// COLOURS 
$color-primary: #2ab7ca;
$color-primary-light: rgb(129, 186, 199);
$color-primary-dark: #25373b;
$color-primary-very-dark: #192629;

$color-error: rgb(196, 72, 72);
$color-approved:#3dd189;

$color-white: #fff;
$color-black: #000;

$color-grey-dark: rgb(53, 53, 53);
$color-grey: rgb(138, 138, 138);
$color-grey-light: #efefef;

$color-inactive: #C4C7CF;


$color-canvas: #f3f3f3;

// FONT
$font-default: 1.9rem;
$font-small: 1.6rem;
$font-family: "Muli";

// STYLING VARIABLES
$border-radius: 5px;

// Navigation menu width
$nav-width: 10rem;